<!DOCTYPE html>
<html lang="en" dir="ltr">

  {% include head.html %}

  <body data-account-status>
    <header>
      <ul>
        <li id="title" {% if page.url == '/' %}class="active"{% endif %}><a href="/">{{ site.title }}</a></li>
        <li id="pending" {% if page.url == '/pending/' %}class="active"{% endif %}><a href="/pending">Pending <span>…</span></a></li>
        <li id="account">
          <!-- populated in main.js -->
        </li>
        <li {% if page.url == '/submit/' %}class="active"{% endif %}><a href="/submit">Submit</a></li>

      </ul>
    </header>
    <main class="page-content" aria-label="Content">

      <div class="content">
        <h3>{{ page.title }}</h3>
        {{ content }}
      </div>
    </main>

    {% include foot.html %}
  </body>

</html>
